.fade {
  &-enter-active, &-leave-active {
    transition: .3s;
  }
  &-leave-to, &-enter-from {
    opacity: 0;
  }
}
.fade-without-enter {
  &-leave-active {
    transition: .3s;
  }
  &-leave-to, &-enter-from {
    opacity: 0;
  }
}
